<div class="wrapper" ng-controller='loginController'>
		

		
		<div class="container"><div>
			<div class="login-Section">
				<h3 class="login-title">Login</h3>
				 <div class="login">
      
      <form method="post" name="editForm" ng-submit="login_user()" >
        <p class="user-name">User Name:<input type="text" id="login-Input"ng-model="records.userName" required class="form-control uname" /></p>
        <p class="password">Password:<input type="password" id="login-Input" ng ng-model="records.password" required class="form-control pwd" /></p>
        <input type="submit" class="sub" ng-disabled="editForm.$invalid" value="Login">

          </form>
    </div>

			</div>
			</div>
		</div>
	

	</div>
